* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav-bar a {
    font-weight: 500;
    text-decoration: none;
}

.fso-cursor {
    cursor: default;
}

.unbold {
    font-weight: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 2%;
    font-size: 1.5vw;
    background-color: hsl(210, 4%, 95%);
}

.nav-links {
    list-style: none;
    width: 100%;
}

.input-search {
    width: 20%;
    font-size: 1.8vw;
}
#search-bar-exclusive, textarea{
    border: 1px solid;
    border-color: hsl(206, 64%, 51%);
    outline: none !important;
}

.nav-links li {
    display: inline-block;
    padding: 0px 10px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
    padding: 4px;
    background-color: hsl(210, 4%, 95%);
    color: black;
}

.signup-color {
    color: hsl(206, 100%, 60%);;
}

.login-color {
    color: hsl(209, 56%, 43%);
}

.nav-links a:hover {
    color: hsl(210, 8%, 70%);;
}
