@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    border-style: border-box;
}

.main-display-single-question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

.main-display-single-question-item {
    width: 950px;
    height: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid;
}

.small-middlebar-text-vote-item  {
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-middlebar-text-vote-item button{
    background-color: hsl(206, 100%, 60%);;
    color: hsl(206, 95%, 86%);
    border-color: hsl(206, 95%, 86%);
    border: 1px solid;
    margin-right: 3px;
    margin-left: 3px;
    margin-bottom: 3px;
}

.main-display-single-question-item.answers {
    max-height: 670px;
    overflow: auto;
}

.small-middlebar-text-vote-item button.dislike-button{
    border-color: hsl(206, 95%, 86%);
}

.acomment-display {
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
}

.acomment-display-item {
    display: flex;
    justify-content: space-between;
}
.the-actual-comment-item.text {
    width: 90%;
}

.small-middlebar-text-vote-item button:hover{
    filter: brightness(70%)
}

.small-middlebar-name-flex {
    display:flex;
    justify-content: space-between;
    margin-right: 10px;
    margin-left: 10px;
}
.sub-display-question-item {
    overflow-wrap: break-word;
    margin-bottom: 10px;
    border: 1px solid;
    border-color: hsl(210, 7%, 78.5%);;
}
.display-votes-title-item  {
    font-size: 20px;
}

.item-tags.specific{
    color: black;
    width: 50%;
}

.final-row-question-input-nav {
    display: flex;
    justify-content: space-between;
    height: 40px;
    margin-top: 4px;
}

.final-row.new-comment input{
    height: 30px;
    font-size: 15px;
    width: 850px;
}

.final-row.new-comment a{
    text-decoration: none;
    color: hsl(206, 64%, 51%);
}
.final-row.new-comment a:hover{
    filter: brightness(50%)
}

.final-row.next-prev button {
    padding: 6px;
    background-color:hsl(206, 90%, 74%);
    color: hsl(206, 91%, 91.5%);
    border-color: hsl(206, 90%, 74%);
    border: 1px solid;
}
.final-row.next-prev button:hover{
    filter: brightness(60%)
}

.sub-display-question-item .sub-question-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.sub-display-question-item-tags-asked {
    display: flex;
    justify-content: space-between;
}

.item-tags.asked-by .username{
    color: hsl(206, 90%, 74%);
}

.item-tags.asked-by .time {
    color: hsl(140, 35%, 54.5%);;
}
.comment-unordered-list-error {
    color: red;
    text-align: center;
    list-style-type: none;
}

.comment-unordered-list-success {
    color: hsl(140, 35%, 54.5%);
    text-align: center;
    list-style-type: none;
}

.q-comment-set .q-comment-set-item{
    margin-bottom: 16px;
}

.q-comment-set-item {
    display: flex;
    justify-content: space-between;
}

.q-comment-set-item .q-comment-itself.comments {
    width: 80%;
}

.sub-last-row-item {
    display: flex;
    margin-left: 19%;
    margin-right: -8px;
}
.main-display-single-question-item .to-flex-on-this {
    display: flex;
    justify-content: end;
    overflow: hidden;;
}

.main-display-single-question-item .to-flex-on-this button {
    padding: 10px;
    font-size: 20px;
    background-color:hsl(206, 90%, 74%);
    color: hsl(206, 91%, 91.5%);
    border-color: hsl(206, 90%, 74%);
}

.main-display-single-question-item .to-flex-on-this button:hover {
    filter: brightness(90%);
    cursor: pointer;
}

.sub-last-row-item a{
    padding: 18px;
    font-size: 24px;
    background-color:hsl(206, 90%, 74%);
    color: hsl(206, 91%, 91.5%);
    border-color: hsl(206, 90%, 74%);
    border: 1px solid;
    text-decoration:none;
}

.sub-last-row-item a:hover {
    filter: brightness(90%)
}

.single-answer-display-flex {
    display: flex;
    flex-direction: column;
}

.single-answer-first {
    display: flex;
    justify-content: space-between;
}

.single-answer-first .single-answer-first-text {
    overflow-wrap: break-word;
    width: 80%;
    margin-left: 10px;
}
.single-answer-first-vote-item button{
    padding: 10px;
    width: 70px;
}
.single-answer-first-answerby {
    margin-left: 15px;
}
.single-answer-end {
    display: flex;
    justify-content: space-between;
}
.single-answer-end-item.buttons {
    display: flex;
}
.single-answer-end-item.buttons button , .single-answer-first-vote-item button{
    padding: 12px;
    background-color: hsl(206, 100%, 60%);;
    color: hsl(206, 95%, 86%);
    border-color: hsl(206, 95%, 86%);
    border: 1px solid;
}

.single-answer-end-item.buttons button:hover, .single-answer-first-vote-item button:hover{
    cursor: pointer;
    filter: brightness(60%);
}
.single-answer-end-item input{
    font-size: 25px;
    width: 165%;
}

.single-answer-end-item {
    margin-bottom: 2px;
}
.a-comment a{
    text-decoration: none;
    color: hsl(206, 95%, 46%);
}

.a-comment a:hover{
    text-decoration: none;
    filter: brightness(50%)
}
