@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    border-style: border-box;
}

.main-display-single-question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

.main-display-single-question-item {
    width: 950px;
    height: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid;
}

.small-middlebar-text-vote-item  {
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-middlebar-text-vote-item button{
    background-color: hsl(206, 100%, 60%);;
    color: hsl(206, 95%, 86%);
    border-color: hsl(206, 95%, 86%);
    border: 1px solid;
    margin-right: 3px;
    margin-left: 3px;
    margin-bottom: 3px;
}

.small-middlebar-text-vote-item button.dislike-button{
    border-color: hsl(206, 95%, 86%);
    color: hsl(27, 100%, 68.4%);;
}

.small-middlebar-text-vote-item button:hover{
    filter: brightness(70%)
}

.small-middlebar-name-flex {
    display:flex;
    justify-content: space-between;
    margin-right: 10px;
    margin-left: 10px;
}
.sub-display-question-item {
    overflow-wrap: break-word;
    margin-bottom: 10px;
    border: 1px solid;
    border-color: hsl(210, 7%, 78.5%);;
}
.display-votes-title-item  {
    font-size: 20px;
}

.item-tags.specific{
    color: black;
    width: 50%;
}

.final-row-question-input-nav {
    display: flex;
    justify-content: space-between;
    height: 40px;
    margin-top: 4px;
}

.final-row.new-comment input{
    height: 30px;
    font-size: 15px;
    width: 850px;
}

.final-row.new-comment a{
    text-decoration: none;
    color: hsl(206, 64%, 51%);
}
.final-row.new-comment a:hover{
    filter: brightness(50%)
}

.final-row.next-prev button {
    padding: 6px;
    background-color:hsl(206, 90%, 74%);
    color: hsl(206, 91%, 91.5%);
    border-color: hsl(206, 90%, 74%);
    border: 1px solid;
}
.final-row.next-prev button:hover{
    filter: brightness(60%)
}

.sub-display-question-item .sub-question-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.sub-display-question-item-tags-asked {
    display: flex;
    justify-content: space-between;
}

.item-tags.asked-by .username{
    color: hsl(206, 90%, 74%);
}

.item-tags.asked-by .time {
    color: hsl(140, 35%, 54.5%);;
}
.comment-unordered-list-error {
    color: red;
    text-align: center;
    list-style-type: none;
}

.comment-unordered-list-success {
    color: hsl(140, 35%, 54.5%);
    text-align: center;
    list-style-type: none;
}

.q-comment-set .q-comment-set-item{
    margin-bottom: 16px;
}

.q-comment-set-item {
    display: flex;
    justify-content: space-between;
}

.q-comment-set-item .q-comment-itself.comments {
    width: 80%;
}
